{% extends "tournaments/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <br><br><br>
        <div class="container" style="width:40%;padding:30px;background:white">
        <center><h2>Join Tournament</h2></center><br>
      <form method="post">
        {% csrf_token %}
          <input type="hidden" value="{{ pk }}"  name="pk">
            {{ user_details_form.as_p }}
          {{ form.as_p }}<br>
          {% for error in field.errors %}
            <p style="font-size: 15px; color: red">{{ error }}</p>
            {% endfor %}
        <center><input type="submit" value="Submit"></center>
      </form>
    </div>
{% endblock %}