{% extends "tournaments/base.html" %}
{% load custom_filters %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
    <div class="container">
        <h1 style="text-align: center;color: white">List of Tournaments</h1><br>

        {% if msg %}
            <script>
                alert('You have already registered for this tournament');
            </script>
        {% endif %}

    <div class="row" >
        {% for tournament in tournaments %}
          <div class="column" style="padding:15px;">
            <div class="card" style="border-radius: 10px;">
            <div class="card-body">
              <h3 class="card-title">{{ tournament.name }}</h3>
              <p class="card-text">{{ tournament.description }}</p>
              <p class="card-text">Location : <b>{{ tournament.location }}</b></p>
              <p class="card-text">Schedule : <b>{{ tournament.start_date | filter_date }}</b> to <b>{{ tournament.end_date | filter_date }}</b></p>
                <h4><a href="{% url 'tournaments:join_tournament' tournament.pk  tournament.name tournament.start_date tournament.end_date tournament.location %}" class="card-link">Click here to join</a></h4>
            </div>
          </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}